a(title= url.href, href= url.href, target='_blank')
	aside(lang= lang, data-type= type)
		if image
			div.thumbnail(style={'background-image': 'url(' + image + ')'})
		h1.title= title
		if description
			p.description= description
		footer
			p.hostname
				if url.protocol == 'https:'
					i.fa.fa-lock.secure
				= url.hostname
			if icon
				img.icon(src= icon, alt='')
			if siteName
				p.site-name= siteName
